[submodule "external/UnifiedEmail"]
	path = external/UnifiedEmail
	url = https://github.com/minkustree/platform_packages_apps_UnifiedEmail.git
	branch = ottermail
[submodule "external/chips"]
	path = external/chips
	url = https://github.com/minkustree/platform_frameworks_opt_chips.git
	branch = ottermail
[submodule "external/photoviewer"]
	path = external/photoviewer
	url = https://github.com/minkustree/platform_frameworks_opt_photoviewer.git
	branch = ottermail
[submodule "external/bitmap"]
	path = external/bitmap
	url = https://github.com/minkustree/platform_frameworks_opt_bitmap.git
	branch = ottermail
[submodule "external/ex"]
	path = external/ex
	url = https://github.com/minkustree/platform_frameworks_ex.git
	branch = ottermail